body {
    background-color: #292633;
    font-family: sans-serif;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 2.2em 85vh;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    /*grid-auto-rows: auto;*/
}

.ide-options {
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.ide-container {
    border: 2px solid #167a4f;
}

.output-container {
    color: white;
    border: 2px solid #167a4f;
    padding: 5px;
    font-family: monospace;
    font-size: 1.5em;
    min-width: 85vh;
    overflow: scroll;
}

#output-title {
    color:#15ef70;
    text-align: center;
    font-size: 1.3em;
}

#website-header {
    color: white;
    font-family: monospace;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 2em;
}

#editor {
    margin-top: 10px;
    width: 100%;
}

#language, #theme {
    background-color: #167a4f;
    color: white;
    border: 0;
    border-radius: 50px;
    margin: 0px 5px;
    padding: 5px 5px;
}

#additional_info {
    background-color: #167a4f;
    border-radius: 50px;
    padding: 3px 10px;
}

#submit {
    margin-left: auto;
    margin-right: 0;
    background-color: #167a4f;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#submit:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
