<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Compiler</title>
    <style type="text/css" screen="media">
        #editor { 
            width: 50em;
        }
    </style>
</head>
<body>
    <form id="scriptForm" action="/api">
        {{ form.hidden_tag() }}
        {{ form.language() }}<br>
        <div id="editor" class="scrollmargin"></div>
        {{ form.script() }}  <br>
        {{ form.submit() }}  <br>
    </form>

    <pre><code id="output" class="language-shell"></code></pre>
    {% if output %}
    <pre><code id="output" class="language-shell">{{ output }}</code></pre>
    {% endif %}

    <!-- Jquery -->
    <script src="../static/js/jquery-3.6.0.min.js" type = "text/javascript" charset="utf-8"></script>

    <!-- Ace Configs -->
    <script src="../static/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/ace_editor.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/process_request.js"></script>
</body>
</html>

