<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Compiler</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header id="website-header">
        <h1 id="website-header-name"><span style="color:#15ef70;">>_</span> Shaker</h1>
        <h3 id="website-header-tag">Shake your code well before use!</h3>
    </header>
    <main>
        <form id="scriptForm" action="/api">
            <div class="container">
                <div class="ide-options">
                    <select name="language" id="language">
                        <option value="python3">Python3</option>
                        <option value="java">Java</option>
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="cpp14">C++ 14</option>
                        <option value="cpp17">C++ 17</option>
                        <option value="csharp">C#</option>
                        <option value="bash">Bash</option>
                        <option value="perl">Perl</option>
                        <option value="go">Go</option>
                        <option value="sql">SQL</option>
                    </select>

                    <select name="theme" id="theme">
                        <option value="one_dark">One Dark</option>
                        <option value="terminal">Terminal</option>
                        <option value="solarized_light">Solarized Light</option>
                        <option value="gruvbox">Gruvbox :)</option>
                        <option value="cobalt">CodeTantra :(</option>
                    </select>
                    <input type="submit" value="Run" name="submit" id="submit">
                </div>
                <div id="output-title">Output</div>
                <div class="ide-container">
                    <div id="editor"></div>
                </div>
                <div class="output-container">
                    <pre><div id="output" class="language-shell"></div></pre>
                </div>
            </div>
        </form>
    </main>

    <!-- Jquery -->
    <script src="../static/js/jquery-3.6.0.min.js" type = "text/javascript" charset="utf-8"></script>

    <!-- Processing Request -->
    <script src="../static/js/process_request.js" type="text/javascript"></script>

    <!-- Ace Configs -->
    <script src="../static/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/ace_editor.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

