<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Compiler</title>
    <style type="text/css" screen="media">
        #editor { 
            width: 50em;
        }
    </style>
</head>
<body>
    <form id="scriptForm" action="/api">
        <select name="language" id="language">
            <option value="python3">Python3</option>
            <option value="cpp">C++</option>
        </select>

        <select name="theme" id="theme">
            <option value="one_dark">One Dark</option>
            <option value="terminal">Terminal</option>
            <option value="solarized_light">Solarized Light</option>
            <option value="gruvbox">Gruvbox</option>
        </select>

        <div id="editor" class="scrollmargin"></div><br>

        <input type="submit" value="Submit" name="submit" id="submit">
    </form>

    <pre><code id="output" class="language-shell"></code></pre>

    <!-- Jquery -->
    <script src="../static/js/jquery-3.6.0.min.js" type = "text/javascript" charset="utf-8"></script>

    <!-- Processing Request -->
    <script src="../static/js/process_request.js"></script>

    <!-- Ace Configs -->
    <script src="../static/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/ace_editor.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

